<!-- templates/consultas/editar.html -->

{% extends "layout.html" %}


{% block imports %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caballo-css/editar.css') }}">
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Consulta</title>
</head>
<body>
    <h1>Editar Consulta</h1>
    <form method="POST" action="{{ url_for('consultas.editar_consulta', id=consulta.id) }}">
        <div>
            <label for="nombre_completo">Nombre Completo:</label>
            <input type="text" id="nombre_completo" name="nombre_completo" value="{{ consulta.nombre_completo }}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ consulta.email }}" required>
        </div>
        <div>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" value="{{ consulta.fecha }}" required>
        </div>
        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="10" cols="50" required>{{ consulta.descripcion }}</textarea>
        </div>
        <div>
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="Pendiente" {% if consulta.estado == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                <option value="Contestado" {% if consulta.estado == 'Contestado' %}selected{% endif %}>Contestado</option>
                <option value="Revisar" {% if consulta.estado == 'Revisar' %}selected{% endif %}>Revisar</option>
            </select>
        </div>
        <button type="submit">Actualizar Consulta</button>
        <a href="{{ url_for('consultas.menu_consultas') }}" class="btn btn-primary">Volver</a>
    </form>
</body>
</html>
    
{% endblock %}