{% extends "layout.html" %}

{% block title %}Editar Consulta{% endblock %}

{% block content %}

<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Editar Consulta</h4>
    <a class="btn btn-secondary" href="{{ url_for('consultas.menu_consultas') }}">Volver</a>
</header>

<form action="{{ url_for('consultas.editar_consulta', id=consulta.id) }}" method="POST">
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.nombre_completo }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.email }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.fecha.strftime('%Y-%m-%d') }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Fecha</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-control" id="estado" name="estado" required onchange="toggleComentario()">
            <option value="Pendiente" {% if consulta.estado == 'Pendiente' %}selected{% endif %}>Pendiente</option>
            <option value="Contestado" {% if consulta.estado == 'Contestado' %}selected{% endif %}>Contestado</option>
            <option value="Revisar" {% if consulta.estado == 'Revisar' %}selected{% endif %}>Revisar</option>
        </select>
        <label for="estado">Estado</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled>{{ consulta.descripcion }}</textarea>
        <label for="floatingTextarea2Disabled">Descripcion</label>
    </div>
    <div class="form-floating mb-3" id="comentario-container" style="display: none;">
        <textarea class="form-control" placeholder="Leave a comment here" id="cambio_estado" name="cambio_estado" style="height: 100px"></textarea>
        <label for="cambio_estado">Comentario sobre el cambio de estado</label>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Consulta</button>
</form>

<script>
    var estadoInicial = "{{ consulta.estado }}";

    function toggleComentario() {
        var estadoActual = document.getElementById('estado').value;
        var comentarioContainer = document.getElementById('comentario-container');
        if (estadoActual !== estadoInicial) {
            comentarioContainer.style.display = 'block';
        } else {
            comentarioContainer.style.display = 'none';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        toggleComentario();
    });
</script>

{% endblock %}