{% extends "layout.html" %}

{% block title %}Crear Consulta{% endblock %}

{% block content %}

<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Crear Nueva Consulta</h4>
    <a class="btn btn-secondary" href="{{ url_for('consultas.menu_consultas') }}">Volver</a>
</header>

<body>
    <form method="POST" action="{{ url_for('consultas.nueva_consulta') }}">
        <div class="mb-3">
            <label for="nombre_completo" class="form-label">Nombre Completo:</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="text" class="form-control" id="nombre_completo" name="nombre_completo" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha:</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="date" class="form-control" id="fecha" name="fecha" value="{{ current_date }}" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="10" cols="50" required></textarea>
        </div>
        <input type="hidden" id="estado" name="estado" value="Pendiente">

        <button type="submit" class="btn btn-primary">Crear Consulta</button>
    </form>
</body>
</html>

{% endblock %}