<!-- templates/consultas/show.html -->
{% extends "layout.html" %}

{% block imports %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caballo-css/index.css') }}">
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Consulta</title>
</head>
<body>
    <h1>Detalles de la Consulta</h1>
    <p>Fecha: {{ consulta.fecha.strftime('%Y-%m-%d') }}</p>
    <p>Nombre: {{ consulta.nombre_completo }}</p>
    <p>Estado: {{ consulta.estado }}</p>
    <p>Descripción: {{ consulta.descripcion }}</p>
    <a href="{{ url_for('consultas.menu_consultas') }}">Volver</a>
</body>
</html>

{% endblock %}