{% extends "layout.html" %}

{% block title %}Detalles de la consulta{% endblock %}

{% block content %}

<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Detalles de la consulta</h4>
    <a class="btn btn-secondary" href="{{ url_for('consultas.menu_consultas') }}">Volver</a>
</header>

<body>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.nombre_completo }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.email }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.fecha.strftime('%Y-%m-%d') }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Fecha</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" value="{{ consulta.estado }}" aria-label="Disabled input example" disabled readonly>
        <label for="floatingInputDisabled">Estado</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled>{{ consulta.descripcion }}</textarea>
        <label for="floatingTextarea2Disabled">Descripcion</label>
    </div>
    {% if consulta.cambio_estado %}
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled>{{ consulta.cambio_estado }}</textarea>
        <label for="floatingTextarea2Disabled">Comentario sobre el cambio de estado</label>
    </div>
    {% endif %}
</body>
</html>

{% endblock %}