{% extends "layout.html" %}

{% block title %}Gráfico de Tipo de Discapacidad{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h2 class="mb-4">Distribución de Tipos de Discapacidad</h2>
    {% if data[0] %}
        <img src="data:image/png;base64,{{ data[1] }}" alt="Gráfico de Tipo de Discapacidad" class="img-fluid">
    {% else %}
        <h6 class="display-6 text-danger mt-3">No hay personas discapacitadas registradas en nuestro sistema.</h6>
    {% endif %}
</div>
{% endblock %}
