{% extends "layout.html" %}

{% block imports %}
    {{ super() }}  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caballo-css/show.css') }}">
{% endblock %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Eliminar documento{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2>Confirmación de eliminación</h2>
            </div>
            <div class="card-body">
                <p>¿Estás seguro de que deseas eliminar el link <strong>{{ documento.nombre_documento }}</strong>?</p>
                <form action="{{ url_for('caballo_enlaces.delete_link_caballo', caballo_id=caballo.id, documento_id=documento.id) }}" method="POST">
                    <div class="d-flex justify-content-between">
                        <!-- Botón para eliminar -->
                        <button type="submit" class="btn btn-danger">Eliminar documento</button>
                        <!-- Botón para cancelar -->
                        <a href="{{ url_for('caballos.mostrar_caballo', id=caballo.id) }}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    <footer class="text-center mt-5">
        <p>© 2024 Mi Aplicación - Administración de Usuarios</p>
    </footer>

</body>
</html>
