{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Editar Enlace de J&A{% endblock %}</title>
</head>
<body>
    {% block content %}
    <header>
        <h1>Editar Enlace</h1>
    </header>

    <section>
        <form action="{{ url_for('enlaces.update_link_jya', jya_dni=jya.dni, documento_id=documento.id) }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="tipo">Tipo de documento:</label>
                <select class="form-control" id="tipo" name="tipo" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="entrevista" {% if documento.tipo == 'entrevista' %}selected{% endif %}>Entrevista</option>
                    <option value="evaluacion" {% if documento.tipo == 'evaluacion' %}selected{% endif %}>Evaluación</option>
                    <option value="planificaciones" {% if documento.tipo == 'planificaciones' %}selected{% endif %}>Planificaciones</option>
                    <option value="evolucion" {% if documento.tipo == 'evolucion' %}selected{% endif %}>Evolución</option>
                    <option value="cronicas" {% if documento.tipo == 'cronicas' %}selected{% endif %}>Crónicas</option>
                    <option value="documental" {% if documento.tipo == 'documental' %}selected{% endif %}>Documental</option>
                </select>
            </div>
            <div class="form-group">
                <label for="documento">Selecciona el link a subir:</label>
                <input type="text" name="documento" id="documento" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Documento</button>
            <a href="{{ url_for('crud_JyA.show_details_jya', jya_dni=jya.dni) }}" class="btn btn-secondary">Volver</a>
        </form>        
    </section>
    

    {% endblock %}

    <footer>
        <p>© 2024 Mi Aplicación - Administración de Usuarios</p>
    </footer>

</body>
</html>