{% extends "layout.html" %}

{% block title %}Editar Caballo{% endblock %}

{% block content %}
<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Editar Caballo: {{ caballo.nombre }}</h4>
    <a class="btn btn-secondary" href="{{ url_for('caballos.menu_caballos') }}">Volver</a>
</header>

<section>
    <form action="{{ url_for('caballos.editar_caballo', id=caballo.id) }}" method="POST" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ caballo.nombre }}" required minlength="3" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ caballo.fecha_nacimiento }}" required>
        </div>
        <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <select class="form-control" id="sexo" name="sexo" required>
                <option value="Macho" {% if caballo.sexo == "Macho" %}selected{% endif %}>Macho</option>
                <option value="Hembra" {% if caballo.sexo == "Hembra" %}selected{% endif %}>Hembra</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="raza" class="form-label">Raza</label>
            <input type="text" class="form-control" id="raza" name="raza" value="{{ caballo.raza }}" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="pelaje" class="form-label">Pelaje</label>
            <input type="text" class="form-control" id="pelaje" name="pelaje" value="{{ caballo.pelaje }}" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="tipo_ingreso" class="form-label">Tipo de Ingreso</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <select class="form-control" id="tipo_ingreso" name="tipo_ingreso" required>
                <option value="Compra" {% if caballo.tipo_ingreso == "Compra" %}selected{% endif %}>Compra</option>
                <option value="Donación" {% if caballo.tipo_ingreso == "Donación" %}selected{% endif %}>Donación</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fecha_ingreso" class="form-label">Fecha de Ingreso</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso" value="{{ caballo.fecha_ingreso }}" required>
        </div>
        <div class="mb-3">
            <label for="sede_asignada" class="form-label">Sede Asignada</label>
            <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
            <input type="text" class="form-control" id="sede_asignada" name="sede_asignada" value="{{ caballo.sede_asignada }}" required>
        </div>
        <div class="mb-3">
            <label for="entrenadores" class="form-label">Entrenadores</label>
            <select class="form-control" id="entrenadores" name="entrenadores" multiple>
                {% for entrenador in entrenadores %}
                    <option value="{{ entrenador.id }}" {% if entrenador in caballo.entrenadores %}selected{% endif %}>
                        {{ entrenador.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="conductores" class="form-label">Conductores</label>
            <select class="form-control" id="conductores" name="conductores" multiple>
                {% for conductor in conductores %}
                    <option value="{{ conductor.id }}" {% if conductor in caballo.conductores %}selected{% endif %}>
                        {{ conductor.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="JYA" class="form-label">Tipo de J&A Asignados</label>
            <select class="form-control" id="JYA" name="tipo_ja_asignado" multiple>
                <option value="Hipoterapia" {% if 'Hipoterapia' in caballo.tipo_ja_asignado %}selected{% endif %}>Hipoterapia</option>
                <option value="Monta Terapéutica" {% if 'Monta Terapéutica' in caballo.tipo_ja_asignado %}selected{% endif %}>Monta Terapéutica</option>
                <option value="Deporte Ecuestre Adaptado" {% if 'Deporte Ecuestre Adaptado' in caballo.tipo_ja_asignado %}selected{% endif %}>Deporte Ecuestre Adaptado</option>
                <option value="Actividades Recreativas" {% if 'Actividades Recreativas' in caballo.tipo_ja_asignado %}selected{% endif %}>Actividades Recreativas</option>
                <option value="Equitación" {% if 'Equitación' in caballo.tipo_ja_asignado %}selected{% endif %}>Equitación</option>
            </select>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</section>
{% endblock %}
