<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documento/nuevo_documento.css') }}">
    <title>Subir Documento para {{ caballo.nombre }}</title>
</head>
<body>
    <h1>Subir Documento para {{ caballo.nombre }}</h1>

    <form action="{{ url_for('caballos.subir_documento', id=caballo.id) }}" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre del Documento:</label>
        <input type="text" name="nombre" required>

        <label for="tipo_documento">Tipo de Documento:</label>
        <input type="text" name="tipo_documento" required>

        <label for="archivo">Selecciona el archivo:</label>
        <input type="file" name="archivo" required>

        <button type="submit">Subir Documento</button>
    </form>

    <a href="{{ url_for('caballos.mostrar_caballo', id=caballo.id) }}">Cancelar</a>
</body>
</html>
