{% extends "layout.html" %}

{% block title %}Detalles del Caballo{% endblock %}

{% block imports %}
    {{ super() }}  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caballo-css/show.css') }}">
{% endblock %}

{% block content %}
<body>
    <h4><strong>Detalles del Caballo: {{ caballo.nombre }}</strong></h4>

    <h4><p><strong>Nombre:</strong> {{ caballo.nombre }}</p></h4>
    <h4><p><strong>Fecha de Nacimiento:</strong> {{ caballo.fecha_nacimiento }}</p></h4>
    <h4><p><strong>Sexo:</strong> {{ caballo.sexo }}</p></h4>
    <h4><p><strong>Raza:</strong> {{ caballo.raza }}</p></h4>
    <h4><p><strong>Pelaje:</strong> {{ caballo.pelaje }}</p></h4>
    <h4><p><strong>Tipo de Ingreso:</strong> {{ caballo.tipo_ingreso }}</p></h4>
    <h4><p><strong>Fecha de Ingreso:</strong> {{ caballo.fecha_ingreso }}</p></h4>
    <h4><p><strong>Sede Asignada:</strong> {{ caballo.sede_asignada }}</p></h4>

    <h3><strong>Entrenadores :</strong></h3>
    <h4><ul>
        {% for entrenador in caballo.entrenadores %}
        <li>{{ entrenador.nombre }}</li>
        {% else %}
        <li>No hay entrenadores asignados.</li>
        {% endfor %}
    </ul></h4>

    <h3><strong>Tipo de J&A Asignados : </strong></h3>
    <h4><ul>
        {% if caballo.tipo_ja_asignado %}
            {% for tipo_ja in caballo.tipo_ja_asignado.split(',') %}
            <li>{{ tipo_ja }}</li>
            {% endfor %}
        {% else %}
            <li>No hay tipos de J&A asignados.</li>
        {% endif %}
    </ul></h4>


    <h3><strong>Documentos :</strong></h3>
    <h4><ul>
        {% for documento in caballo.documentos %}
            <li>
                <a href="{{ url_for('static', filename=documento.nombre_documento) }}">{{ documento.nombre_documento }}</a>
                ({{ documento.tipo_documento }})
            </li>
        {% else %}
            <li>No hay documentos adjuntos.</li>
        {% endfor %}


    
        
    </ul></h4>
    <div class="center">
        <a href="{{ url_for('caballos.editar_caballo', id=caballo.id) }}" class="btn" >Editar</a>
        <a href="{{ url_for('caballos_documentos.index_documents_caballo', caballo_id=caballo.id) }}" class="btn btn-info">Documentos Adjuntos</a>
    </div>
    
    <form action="{{ url_for('caballos.eliminar_caballo', id=caballo.id) }}" method="POST">
        <button type="submit" onclick="return confirm('¿Está seguro que desea eliminar este caballo?')">Eliminar</button>
    </form>
    <div class="center">
        <a href="{{ url_for('caballos.menu_caballos') }}" class="btn">Volver al listado</a>
    </div>
</body>
{% endblock %}

