{% extends "layout.html" %}
<head>
    {% block imports %}
        {{super()}}
        <style>
            .box {
                background-color: rgb(174, 235, 225);
            }
            .search{
                display:flex;
                flex-direction:row;
                justify-content:flex-start;
                flex-wrap: wrap;
                gap:1%;
            }
            label{
                display:flex;
                flex-direction: column;
            }
            .options{
                display:flex;
                flex-direction: row;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoices/invoices_list.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <a class="btn btn-light" href="{{ url_for('invoices.invoices_menu') }}"> Volver al menu</a>
    <form class="form search" method="POST" id="search-form" action="{{ url_for('invoices.order_list') }}">
        <label for="first_name">
            <span>Nombre empleado</span>
            <input type="search" placeholder="Nombre" name="first_name">
        </label>
        <label for="last_name">
            <span>Apellido empleado</span>
            <input type="search" placeholder="Apellido" name="last_name">
        </label>
        <label for="from">
            <span>Desde</span>
            <input type="date" name="from" value="">
        </label>
        <label for="to">
            <span>Hasta</span>
            <input type="date" name="to" value="">
        </label>
        <label for="payment_method">
            <span>Tipo de pago</span>
            <select class="select" name="payment_method" >
                <option value="">Todos</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta de credito">Tarjeta de credito</option>
                <option value="Tarjeta de debito">Tarjeta de debito</option>
                <option value="Otro">Otro</option>
            </select>
        </label>
        <label>
            <span>Orden</span>
            <select class="select" name="order">
                    <option value="ASC">Ascendente</option>
                    <option value="DESC">Descendente</option>
            </select>
        </label>
       <button type="submit" form="search-form" class="btn" style="background-color:#78b9bf">BUSCAR</button>
    </form>
    <div class="table-responsive">
        <table class="table table-striped mt-4">
            <thead class="thead-dark">
                <th>id</th>
                <th>J&A</th>
                <th>Fecha de pago</th>
                <th>Metodo de pago</th>
                <th>Monto</th>
                <th>Beneficiario</th>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.ja_first_name}} {{invoice.ja_last_name}}</td>
                        <td>{{invoice.pay_date}}</td>
                        <td>{{invoice.payment_method}}</td>
                        <td>{{invoice.amount}}</td>
                        <td>{{invoice.recipient_first_name}} {{invoice.recipient_last_name}}</td>
                        <td class="options">
                            <div>
                                {%if check_permission(session,"invoice_update") %}
                                    <a class="btn btn-primary" href="{{url_for('invoices.update_invoice' ,invoice_id = invoice.id)}}">Actualizar</a> 
                                {% endif %}
                                {%if check_permission(session,"invoice_show") %}
                                    <a class="btn btn-primary" href="{{url_for('invoices.show_invoice' ,invoice_id = invoice.id)}}">Mostrar</a> 
                                {% endif %}
                            </div>
                            {%if check_permission(session,"invoice_destroy") %}
                                <form action="{{ url_for('invoices.delete_invoice') }}"  class="form_style" method="POST">
                                    <input type="hidden" value={{invoice.id}} name="id">
                                    <button  class="btn btn-danger">Eliminar</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="page-items">
        <p>{{invoices.first}} - {{invoices.last}} of {{invoices.total}} </p>
    </div>
    <div class="pagination">
        {% for page in invoices.iter_pages() %}
            {% if page %}
                {% if page != invoices.page %}
                    <a class="button" href="{{ url_for('invoices.invoices_index',page=page) }}">{{page}}</a>
                {% else %}
                    <strong>{{page}}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
    {%block scripts %}
            {{super()}}
    {% endblock %}
</body>