{% extends "layout.html" %}
<head>
    {% block imports %}
        {{super()}}
        <style>
            .box {
                background-color: rgb(174, 235, 225);
            }
            .search{
                display:flex;
                flex-direction:row;
                justify-content:flex-start;
                flex-wrap: wrap;
                gap:1%;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoices/invoices_list.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <form class="form search" method="POST" id="search-form" action="{{ url_for('invoices.order_list') }}">
        <input type="search" placeholder="Nombre" name="first_name">
        <input type="search" placeholder="Apellido" name="last_name">
        <input type="date" name="from" value="">
        <input type="date" name="to" value="">
        <select class="select" name="payment_method" >
            <option value="">Todos</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Tarjeta de credito">Tarjeta de credito</option>
            <option value="Tarjeta de debito">Tarjeta de debito</option>
            <option value="Otro">Otro</option>
        </select>
        <select class="select" name="order">
            <option value="ASC">Ascendente</option>
            <option value="DESC">Descendente</option>
        </select>
       <button type="submit" form="search-form" class="btn" style="background-color:#78b9bf">BUSCAR</button>
    </form>
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <th>id</th>
            <th>J&A</th>
            <th>Fecha de pago</th>
            <th>Metodo de pago</th>
            <th>Monto</th>
            <th>Beneficiario</th>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{invoice.id}}</td>
                    <td>{{invoice.j_a}}</td>
                    <td>{{invoice.pay_date}}</td>
                    <td>{{invoice.payment_method}}</td>
                    <td>{{invoice.amount}}</td>
                    <td>{{invoice.recipient}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Menú
                            </button>
                            <ul class="dropdown-menu">
                                {%if check_permission(session.get("user_id"),"invoice_update") %}
                                    <li><a class="dropdown-item" href="{{url_for('invoices.update_invoice' ,invoice_id = invoice.id)}}">Actualizar</a> </li>
                                {% endif %}
                                {%if check_permission(session.get("user_id"),"invoice_show") %}
                                    <li><a class="dropdown-item" href="{{url_for('invoices.show_invoice' ,invoice_id = invoice.id)}}">Mostrar</a> </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    <td>
                        {%if check_permission(session.get("user_id"),"invoice_destroy") %}
                            <form action="{{ url_for('invoices.delete_invoice') }}"  class="form_style" method="POST">
                                <input type="hidden" value={{invoice.id}} name="id">
                                <button  class="btn btn-danger">Eliminar</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="page-items">
        <p>{{invoices.first}} - {{invoices.last}} of {{invoices.total}} </p>
    </div>
    <div class="pagination">
        {% for page in invoices.iter_pages() %}
            {% if page %}
                {% if page != invoices.page %}
                    <a class="button" href="{{ url_for('invoices.invoices_index',page=page) }}">{{page}}</a>
                {% else %}
                    <strong>{{page}}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
    {%block scripts %}
            {{super()}}
    {% endblock %}
</body>