{% extends "layout.html" %}
<head>
    {% block imports %}
        {{super()}}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoices/invoices_create.css') }}">
        <style>
            .box{
                background-color: rgb(174, 235, 225);
                display:flex;
                flex-direction: column;
    
            }
        </style>
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
        <h1>El cobro corresponde {{invoice.recipient_first_name}} {{invoice.recipient_last_name}}</h1>
        <table class="table">
            <tr>
                <th>J&A</th>
                <td>{{invoice.ja_first_name}} {{invoice.ja_last_name}}</td>
            </tr>
            <tr>
                <th>Fecha de pago</th>
                <td>{{invoice.pay_date}}</td>
            </tr>
            <tr>
                <th>Metodo de pago</th>
                <td>{{invoice.payment_method}}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{invoice.amount}}</td>
            </tr>
            <tr>
                <th>Beneficiario</th>
                <td>{{invoice.recipient_first_name}} {{invoice.recipient_last_name}}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{invoice.observations}}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{url_for('invoices.invoices_index')}}">Ir al listado</a>     
        {% endblock %}
    </main>
</body>