{% extends "layout.html" %}
<head>
    {% block imports %}
        {{super()}}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoices/invoices_create.css') }}">
    {% endblock %}
</head>
<body>
    <main>
        {% block content %}
            <p>El cobro a editar es el cobro con ID: {{invoice.id}}</p>
            <form action="{{ url_for('invoices.invoice_update', invoice_id = invoice.id ) }}" id="invoice_update_form" class="form_style" method="POST">
                <label class="label" for="pay_date">Fecha de pago</label>
                <input class="input" type="date" name="pay_date">
                <label class="label" for="amount"> Monto</label>
                <input class="input" type="number" min="0.00" max="10000000.00" step="0.01"name="amount" placeholder="591.00">
                <label class="label" for="payment_method">Metodo de pago</label>
                <select class="select" name="payment_method">
                    <option value="">No alterar pago</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de credito">Tarjeta de credito</option>
                    <option value="Tarjeta de debito">Tarjeta de debito</option>
                    <option value="Otro">Otro</option>
                </select>
                <label class="label" for="observations">Observaciones</label>
                <textarea class="textarea has-fixed-size textarea_style" name="observations"></textarea>
                <button form="invoice_update_form" class="button">Actualizar cobro</button>
            </form>
    </main>
    {% endblock %}
</body>