
{% extends "layout.html" %}

{% block title %}Listado de Pagos{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Listado de Pagos</h1>
    <a class="btn btn-info btn-sm" href="{{url_for('pagos.crear_pago_route')}}">Crear pago</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Beneficiario</th>
                <th>Monto</th>
                <th>Tipo de Pago</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos.items %}
            <tr>
                <td>{{ pago.id }}</td>
                <td>{{ pago.beneficiario_nombre }} {{ pago.beneficiario_apellido }}</td>
                <td>{{ pago.monto }}</td>
                <td>{{ pago.tipo_pago }}</td>
                <td>{{ pago.description }}</td>
                <td>
                    <a href="{{ url_for('pagos.obtener_pago_route', id=pago.id) }}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{{ url_for('pagos.actualizar_pago_route', id=pago.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    <form action="{{ url_for('pagos.eliminar_pago_route') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{ pago.id }}">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Está seguro que desea eliminar este pago?')">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if pagos.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('pagos.listar_pagos_route', page=pagos.prev_num) }}">Anterior</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Página {{ pagos.page }} de {{ pagos.pages }}</span>
            </li>
            {% if pagos.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('pagos.listar_pagos_route', page=pagos.next_num) }}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <a class="btn btn-info btn-sm" href="{{url_for('empleados.show_create_employee_form')}}">Volver</a>
</div>
{% endblock %}