{% extends "layout.html" %}

<head>
    <title>{% block title %}Crear J&A{% endblock %}</title>
</head>
<body>
    {% block content %}
    <header class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <h4 class="display-4">Crear Nuevo J&A</h4>
        <a class="btn btn-secondary" href="{{ url_for('crud_JyA.index') }}">Volver</a>
    </header>

    <section>
        <article>
            <form method="post" action="{{ url_for('crud_JyA.create_jya') }}" onsubmit="return validateFields(event)" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="nombre" name="nombre" required>
                    <small id="nombreHelp" class="form-text text-muted">
                        El campo es obligatorio y solo debe contener letras y espacios.
                    </small>
                </div>
                
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ'\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="apellido" name="apellido" required>
                    <small id="apellidoHelp" class="form-text text-muted">
                        El campo es obligatorio y solo debe contener letras y espacios.
                    </small>
                </div>
                
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI (sin puntos o espacios):</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="number" class="form-control" id="dni" name="dni" min="1000000" required>
                    <small id="dniHelp" class="form-text text-muted">
                        El campo es obligatorio y debe contener un número de 7 o 8 dígitos.
                    </small>
                </div>

                <div class="mb-3">
                    <label for="edad" class="form-label">Edad:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="number" class="form-control" id="edad" name="edad" min="18" max="100" title="Por favor ingrese una edad entre 18-100" required>
                    <small id="edadHelp" class="form-text text-muted">
                        El campo es obligatorio y debe estar entre 18 y 100 años.
                    </small>
                </div>
                
                <div class="mb-3">
                    <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                    <small id="fechaNacimientoHelp" class="form-text text-muted">
                        El campo es obligatorio y debe ingresar una fecha válida.
                    </small>
                </div>
                
                <div class="mb-3">
                    <label for="lugar_nacimiento_localidad" class="form-label">Lugar de Nacimiento:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="text" class="form-control" id="lugar_nacimiento_localidad" name="lugar_nacimiento_localidad" placeholder="Localidad" required>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control mt-2" id="lugar_nacimiento_provincia" name="lugar_nacimiento_provincia" placeholder="Provincia" required>
                    <small id="lugarNacimientoHelp" class="form-text text-muted">
                        Solo se permiten letras y espacios en blanco.
                    </small>
                </div>
                
                <div class="mb-3">
                    <label for="domicilio_actual_calle" class="form-label">Domicilio Actual:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="text" class="form-control" id="domicilio_actual_calle" name="domicilio_actual_calle" placeholder="Calle" required>
                    <input type="number" class="form-control mt-2" id="domicilio_actual_numero" name="domicilio_actual_numero" placeholder="Número" required>
                    <input type="text" class="form-control mt-2" id="domicilio_actual_departamento" name="domicilio_actual_departamento" placeholder="Departamento (opcional)">
                    <small id="domicilioDepartamentoHelp" class="form-text text-muted">
                        Este campo es opcional.
                    </small>
                    <input type="text" class="form-control mt-2" id="domicilio_actual_localidad" name="domicilio_actual_localidad" placeholder="Localidad" required>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control mt-2" id="domicilio_actual_provincia" name="domicilio_actual_provincia" placeholder="Provincia" required>
                </div>

                <div class="mb-3">
                    <label for="telefono_actual" class="form-label">Teléfono Actual (sin guiones o espacios):</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="number" class="form-control" id="telefono_actual" name="telefono_actual" min="0" title="Por favor ingrese un número válido" required>
                    <small id="telefonoHelp" class="form-text text-muted">
                        Solo se permiten números, sin guiones ni espacios.
                    </small>
                </div>

                <div class="mb-3">
                    <label for="contacto_emergencia_nombre" class="form-label">Contacto de Emergencia:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="contacto_emergencia_nombre" name="contacto_emergencia_nombre" placeholder="Nombre" required>
                    <small id="nombreEmergenciaHelp" class="form-text text-muted">
                        Solo se permiten letras y espacios.
                    </small>
                    <input type="number" class="form-control mt-2" id="contacto_emergencia_telefono" name="contacto_emergencia_telefono" placeholder="Teléfono" min="0" title="Por favor ingrese un número válido" required>
                    <small id="telefonoEmergenciaHelp" class="form-text text-muted">
                        Solo se permiten números, sin guiones ni espacios.
                    </small>
                </div>

                <div class="mb-3">
                    <label for="becado" class="form-label">Becado:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-select" id="becado" name="becado" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="observaciones_beca" class="form-label">Observaciones de la beca:</label>
                    <textarea class="form-control" id="observaciones_beca" name="observaciones_beca" rows="3" placeholder="Ingrese observaciones de la beca"></textarea>
                </div>

                <div class="mb-3">
                    <label for="certificado_discapacidad" class="form-label">¿Posee Certificado de Discapacidad?</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-select" id="certificado_discapacidad" name="certificado_discapacidad" 
                            onchange="toggleDiscapacidadFields()" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="diagnostico_discapacidad" class="form-label">Diagnóstico de Discapacidad (si posee):</label>
                    <select class="form-select" id="diagnostico_discapacidad" name="diagnostico_discapacidad" disabled required>
                        <option value="" disabled selected>Seleccione un diagnóstico</option>
                        <option value="ECNE">ECNE</option>
                        <option value="Lesión post-traumática">Lesión post-traumática</option>
                        <option value="Mielomeningocele">Mielomeningocele</option>
                        <option value="Esclerosis Múltiple">Esclerosis Múltiple</option>
                        <option value="Escoliosis Leve">Escoliosis Leve</option>
                        <option value="Secuelas de ACV">Secuelas de ACV</option>
                        <option value="Discapacidad Intelectual">Discapacidad Intelectual</option>
                        <option value="Trastorno del Espectro Autista">Trastorno del Espectro Autista</option>
                        <option value="Trastorno del Aprendizaje">Trastorno del Aprendizaje</option>
                        <option value="Trastorno por Déficit de Atención/Hiperactividad">Trastorno por Déficit de Atención/Hiperactividad</option>
                        <option value="Trastorno de la Comunicación">Trastorno de la Comunicación</option>
                        <option value="Trastorno de Ansiedad">Trastorno de Ansiedad</option>
                        <option value="Síndrome de Down">Síndrome de Down</option>
                        <option value="Retraso Madurativo">Retraso Madurativo</option>
                        <option value="Psicosis">Psicosis</option>
                        <option value="Trastorno de Conducta">Trastorno de Conducta</option>
                        <option value="Trastornos del ánimo y afectivos">Trastornos del ánimo y afectivos</option>
                        <option value="Trastorno Alimentario">Trastorno Alimentario</option>
                        <option value="OTRO">Otro</option>
                    </select>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" 
                           title="Por favor ingresa solo letras válidas" 
                           type="text" class="form-control mt-2" id="otro_diagnostico" name="otro_diagnostico" 
                           placeholder="Si eligió OTRO, indique cuál" disabled required />
                    <small id="diagnosticoHelp" class="form-text text-muted">Si selecciona "Otro", ingrese el diagnóstico específico.</small>
                </div>
                
                <div class="mb-3">
                    <label for="tipo_discapacidad" class="form-label">Tipo de Discapacidad:</label>
                    <select class="form-select" id="tipo_discapacidad" name="tipo_discapacidad" disabled required>
                        <option value="" disabled selected>Seleccione un tipo</option>
                        <option value="Mental">Mental</option>
                        <option value="Motora">Motora</option>
                        <option value="Sensorial">Sensorial</option>
                        <option value="Visceral">Visceral</option>
                    </select>
                </div>                

                <div class="mb-3">
                    <label for="asignacion_familiar" class="form-label">¿Percibe alguna Asignación Familiar?</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-select" id="asignacion_familiar" name="asignacion_familiar" onchange="toggleAsignacionFields()" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="tipo_asignacion" class="form-label">Tipo de Asignación:</label>
                    <select class="form-select" id="tipo_asignacion" name="tipo_asignacion" disabled required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Asignación Universal por hijo">Asignación Universal por hijo</option>
                        <option value="Asignación Universal por hijo con Discapacidad">Asignación Universal por hijo con Discapacidad</option>
                        <option value="Asignación por ayuda escolar anual">Asignación por ayuda escolar anual</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="pension" class="form-label">¿Es beneficiario de alguna pensión?</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-select" id="pension" name="pension" onchange="togglePensionFields()" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
            
                <div class="mb-3">
                    <label for="tipo_pension" class="form-label">Tipo de Pensión:</label>
                    <select class="form-select" id="tipo_pension" name="tipo_pension" disabled required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Provincial">Provincial</option>
                        <option value="Nacional">Nacional</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="obra_social" class="form-label">Obra Social:</label>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" 
                           type="text" class="form-control" id="obra_social" name="obra_social" 
                           oninput="toggleObraSocialFields()">
                </div>
                
                <div class="mb-3">
                    <label for="numero_afiliado" class="form-label">Número de Afiliado:</label>
                    <input type="number" class="form-control" id="numero_afiliado" name="numero_afiliado" 
                           min="0" disabled required>
                </div>

                <div class="mb-3">
                    <label for="curatela" class="form-label">¿Posee curatela?</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-select" id="curatela" name="curatela" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="observaciones_previsionales" class="form-label">Observaciones Previsionales:</label>
                    <textarea class="form-control" id="observaciones_previsionales" name="observaciones_previsionales" rows="3" placeholder="Ingrese observaciones adicionales"></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="institucion_escolar_nombre" class="form-label">Nombre de la Institución Escolar:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="institucion_escolar_nombre" name="institucion_escolar_nombre" required placeholder="Nombre de la institución">
                </div>
                
                <div class="mb-3">
                    <label for="institucion_escolar_direccion" class="form-label">Dirección:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="text" class="form-control" id="institucion_escolar_direccion" name="institucion_escolar_direccion" required placeholder="Dirección de la institución">
                </div>                

                <div class="mb-3">
                    <label for="institucion_escolar_telefono" class="form-label">Teléfono:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="number" class="form-control" id="institucion_escolar_telefono" name="institucion_escolar_telefono" min="0" title="Por favor ingrese un número válido" required placeholder="Número de teléfono de la institución">
                </div>
                
                <div class="mb-3">
                    <label for="grado_actual" class="form-label">Grado/Año Actual:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <input type="text" class="form-control" id="grado_actual" name="grado_actual" required placeholder="Indique el grado o año">
                </div>
                
                <div class="mb-3">
                    <label for="institucion_escolar_observaciones" class="form-label">Observaciones:</label>
                    <textarea class="form-control" id="institucion_escolar_observaciones" name="institucion_escolar_observaciones" rows="3" placeholder="Ingrese observaciones adicionales"></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="profesionales_atendiendo" class="form-label">Profesionales que lo atienden:</label>
                    <textarea class="form-control" id="profesionales_atendiendo" name="profesionales_atendiendo" rows="3" placeholder="Ingrese los nombres de los profesionales"></textarea>
                </div>                

                <h6 class="display-6">Datos del Familiar o Tutor Responsable</h6>

                <button type="button" class="btn btn-primary" id="agregar_familiar">+ Agregar Familiar</button>

                <div id="familiares_container"></div>

                <script>
                    let contadorFamiliares = 0;
                    const maxFamiliares = 2;

                    document.getElementById('agregar_familiar').addEventListener('click', function () {
                        if (contadorFamiliares < maxFamiliares) {
                            contadorFamiliares++;

                            const nuevoFormulario = document.createElement('div');
                            nuevoFormulario.classList.add('familiar_formulario', 'mt-3');
                            nuevoFormulario.id = `familiar_formulario_${contadorFamiliares}`;

                            nuevoFormulario.innerHTML = `
                                <h4>Familiar o tutor responsable ${contadorFamiliares}</h4>
                                <button type="button" class="btn btn-danger mb-3 cerrar_familiar" data-id="${contadorFamiliares}">Cerrar</button>
                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_parentesco">Parentesco:</label>
                                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="familiar${contadorFamiliares}_parentesco" name="familiar${contadorFamiliares}_parentesco">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_nombre">Nombre:</label>
                                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="familiar${contadorFamiliares}_nombre" name="familiar${contadorFamiliares}_nombre">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_apellido">Apellido:</label>
                                    <input pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\\s]+" title="Por favor ingresa solo letras válidas" type="text" class="form-control" id="familiar${contadorFamiliares}_apellido" name="familiar${contadorFamiliares}_apellido">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_dni">DNI (sin puntos o espacios):</label>
                                    <input type="number" class="form-control" id="familiar${contadorFamiliares}_dni" name="familiar${contadorFamiliares}_dni" min="1000000" title="Por favor ingrese un DNI válido">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_domicilio_actual">Domicilio Actual:</label>
                                    <input type="text" class="form-control" id="familiar${contadorFamiliares}_domicilio_actual" name="familiar${contadorFamiliares}_domicilio_actual">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_celular_actual">Celular Actual (sin guiones o espacios):</label>
                                    <input type="number" class="form-control" id="familiar${contadorFamiliares}_celular_actual" name="familiar${contadorFamiliares}_celular_actual" min="0" title="Por favor ingrese un número válido">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_email">Email:</label>
                                    <input type="email" class="form-control" id="familiar${contadorFamiliares}_email" name="familiar${contadorFamiliares}_email">
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_nivel_escolaridad">Nivel de Escolaridad:</label>
                                    <select class="form-control" id="familiar${contadorFamiliares}_nivel_escolaridad" name="familiar${contadorFamiliares}_nivel_escolaridad">
                                        <option value="" disabled selected>Seleccione una opción</option>
                                        <option value="Primario">Primario</option>
                                        <option value="Secundario">Secundario</option>
                                        <option value="Terciario">Terciario</option>
                                        <option value="Universitario">Universitario</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="familiar${contadorFamiliares}_ocupacion">Ocupación:</label>
                                    <input type="text" class="form-control" id="familiar${contadorFamiliares}_ocupacion" name="familiar${contadorFamiliares}_ocupacion">
                                </div>
                            `;

                            document.getElementById('familiares_container').appendChild(nuevoFormulario);

                            nuevoFormulario.querySelector('.cerrar_familiar').addEventListener('click', function () {
                                document.getElementById(`familiar_formulario_${contadorFamiliares}`).remove();
                                contadorFamiliares--;
                            });
                        } else {
                            alert('Solo puedes agregar hasta 2 familiares.');
                        }
                    });
                </script>
                
                <div class="form-group mb-3">
                    <label for="propuesta_trabajo">Propuesta de trabajo institucional:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control custom-select" id="propuesta_trabajo" name="propuesta_trabajo">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Hipoterapia">Hipoterapia</option>
                        <option value="Monta Terápeutica">Monta Terápeutica</option>
                        <option value="Deporte">Deporte</option>
                        <option value="Encuentre adaptado">Encuentre adaptado</option>
                        <option value="Actividades Recreativas">Actividades Recreativas</option>
                        <option value="Equitación">Equitación</option>
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="condicion_trabajo">Condición:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control custom-select" id="condicion_trabajo" name="condicion_trabajo">
                        <option value="" disabled selected>Seleccione un tipo</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="DE BAJA">DE BAJA</option>
                    </select>
                </div>                                
                
                <div class="form-group mb-3">
                    <label for="sede">Sede:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control" id="sede" name="sede">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="CASJ">CASJ</option>
                        <option value="HLP">HLP</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="dias_asistencia">Días de Asistencia:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_asistencia" value="Lunes" id="lunes">
                        <label class="form-check-label" for="lunes">Lunes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_asistencia" value="Martes" id="martes">
                        <label class="form-check-label" for="martes">Martes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_asistencia" value="Miércoles" id="miercoles">
                        <label class="form-check-label" for="miercoles">Miércoles</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_asistencia" value="Jueves" id="jueves">
                        <label class="form-check-label" for="jueves">Jueves</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="dias_asistencia" value="Viernes" id="viernes">
                        <label class="form-check-label" for="viernes">Viernes</label>
                    </div>
                </div>
                
                <h6 class="display-6">Datos de Profesores y Conductores</h6>

                <div class="form-group mb-3">
                    <label for="profesor_terapeuta_id">Profesor/a o Terapeuta:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control" id="profesor_terapeuta_id" name="profesor_terapeuta_id" required>
                        <option value="" disabled selected>Seleccione un Profesor o Terapeuta</option>
                        {% for empleado in empleados_terapeuta_profesor %}
                            <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="conductor_caballo_id">Conductor/a del Caballo:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control" id="conductor_caballo_id" name="conductor_caballo_id" required>
                        <option value="" disabled selected>Seleccione un Conductor</option>
                        {% for empleado in empleados_conductor %}
                            <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endfor %}
                    </select>
                </div>                

                <div class="form-group mb-3">
                    <label for="auxiliar_id">Auxiliar de pista:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control" id="auxiliar_id" name="auxiliar_id" required>
                        <option value="" disabled selected>Seleccione un Auxiliar</option>
                        {% for empleado in empleados_auxiliar %}
                            <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label for="caballo_id">Caballo:</label>
                    <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                    <select class="form-control" id="caballo_id" name="caballo_id" required>
                        <option value="" disabled selected>Seleccione un Caballo</option>
                        {% for caballo in caballos %}
                            <option value="{{ caballo.id }}">{{ caballo.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>                
                
                <button type="submit" class="btn btn-primary">Crear JYA</button>
            </form>
        </article>
    </section>
    <script>
        function toggleDiscapacidadFields() {
            const certificadoField = document.getElementById('certificado_discapacidad');
            const diagnosticoField = document.getElementById('diagnostico_discapacidad');
            const otroDiagnosticoField = document.getElementById('otro_diagnostico');
            const tipoDiscapacidadField = document.getElementById('tipo_discapacidad');
        
            const isCertificado = certificadoField.value === 'true';
            
            diagnosticoField.disabled = !isCertificado;
            tipoDiscapacidadField.disabled = !isCertificado;
        
            if (!isCertificado) {
                diagnosticoField.value = '';
                otroDiagnosticoField.value = '';
                otroDiagnosticoField.disabled = true;
                tipoDiscapacidadField.value = '';
            }
        
            diagnosticoField.addEventListener('change', () => {
                otroDiagnosticoField.disabled = diagnosticoField.value !== 'OTRO';
                if (otroDiagnosticoField.disabled) {
                    otroDiagnosticoField.value = '';
                }
            });
        }        

        function toggleDiagnosticoField() {
            const diagnosticoField = document.getElementById('diagnostico_discapacidad');
            const otroDiagnosticoField = document.getElementById('otro_diagnostico');

            otroDiagnosticoField.disabled = diagnosticoField.value !== 'OTRO';
        
            if (otroDiagnosticoField.disabled) {
                otroDiagnosticoField.value = '';
            }
        }
        
        function toggleAsignacionFields() {
            const asignacionField = document.getElementById('asignacion_familiar');
            const tipoAsignacionField = document.getElementById('tipo_asignacion');
            tipoAsignacionField.disabled = asignacionField.value !== "true";
            if (tipoAsignacionField.disabled) {
                tipoAsignacionField.value = "";
            }
        }
        
        function togglePensionFields() {
            const pensionField = document.getElementById('pension');
            const tipoPensionField = document.getElementById('tipo_pension');
            tipoPensionField.disabled = pensionField.value !== "true";
            if (tipoPensionField.disabled) {
                tipoPensionField.value = "";
            }
        }
        
        function toggleObraSocialFields() {
            const obraSocialField = document.getElementById('obra_social');
            const numeroAfiliadoField = document.getElementById('numero_afiliado');
            
            numeroAfiliadoField.disabled = obraSocialField.value.trim() === "";
            if (numeroAfiliadoField.disabled) {
                numeroAfiliadoField.value = '';
            }
        }
        
        function validateFields() {
            const becado = document.getElementById('becado').value === "true";
            const porcentajeBeca = document.getElementById('porcentaje_beca').value;
        
            const asignacionFamiliar = document.getElementById('asignacion_familiar').value === "true";
            const tipoAsignacion = document.getElementById('tipo_asignacion').value;
        
            const pension = document.getElementById('pension').value === "true";
            const tipoPension = document.getElementById('tipo_pension').value;
        
            const obraSocial = document.getElementById('obra_social').value.trim();
            const numeroAfiliado = document.getElementById('numero_afiliado').value;

            const certificadoDiscapacidad = document.getElementById('certificado_discapacidad').value === "true";
            const diagnosticoDiscapacidad = document.getElementById('diagnostico_discapacidad').value;
            const tipoDiscapacidad = document.getElementById('tipo_discapacidad').value;
            const otroDiagnostico = document.getElementById('otro_diagnostico').value.trim();

            if (certificadoDiscapacidad) {
                if (!diagnosticoDiscapacidad) {
                    alert("Debe seleccionar un diagnóstico si posee certificado de discapacidad.");
                    event.preventDefault();
                    return false;
                }
                if (diagnosticoDiscapacidad === "OTRO" && !otroDiagnostico) {
                    alert("Debe ingresar el diagnóstico específico si eligió 'Otro' como diagnóstico.");
                    event.preventDefault();
                    return false;
                }
                if (!tipoDiscapacidad) {
                    alert("Debe seleccionar un tipo de discapacidad si posee certificado de discapacidad.");
                    event.preventDefault();
                    return false;
                }
            }
        
            if (asignacionFamiliar && !tipoAsignacion) {
                alert("Debe seleccionar un tipo de asignación si el usuario percibe asignación familiar.");
                return false;
            }
        
            if (pension && !tipoPension) {
                alert("Debe seleccionar un tipo de pensión si el usuario es beneficiario de una pensión.");
                return false;
            }
        
            if (obraSocial && !numeroAfiliado) {
                alert("Debe ingresar el número de afiliado si el usuario tiene obra social.");
                event.preventDefault();
                return false;
            }
        
            return true;
        }

        document.getElementById('diagnostico_discapacidad').addEventListener('change', toggleDiagnosticoField);
    </script>
</body>
</html>
{% endblock %}

