{% extends "layout.html" %}
<head>
    <title>{% block title %}Eliminar J&A{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2>Confirmación de eliminación</h2>
            </div>
            <div class="card-body">
                <p>¿Estás seguro de que deseas eliminar al J&A <strong>{{ jya.dni }}</strong>?</p>
                <form action="{{ url_for('crud_JyA.jya_delete', jya_dni=jya.dni) }}" method="POST">
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger">Eliminar J&A</button>
                        <a href="{{ url_for('crud_JyA.index') }}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
