{% extends "layout.html" %}

{% block content %}
<header class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-4 mb-3">
    <h1 class="display-3 text-md-start">Documentos del J&A</h1>
    <a href="{{ url_for('crud_JyA.show_details_jya', jya_dni=jya.dni) }}" class="btn btn-secondary">Volver</a>
</header>
<section>
    <article>
        <form method="get" action="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni) }}" class="mb-4">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    <label for="nombre_documento" class="form-label">Nombre del Documento:</label>
                    <input type="text" class="form-control" name="nombre_documento" value="{{ request.args.get('nombre_documento', '') }}">
                </div>
                <div class="col-12 col-md-6">
                    <label for="tipo_documento" class="form-label">Tipo de Documento:</label>
                    <select class="form-control" id="tipo_documento" name="tipo_documento">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="">Todos</option>
                        <option value="entrevista" {% if request.args.get('tipo_documento') == 'entrevista' %}selected{% endif %}>Entrevista</option>
                        <option value="evaluacion" {% if request.args.get('tipo_documento') == 'evaluacion' %}selected{% endif %}>Evaluación</option>
                        <option value="planificaciones" {% if request.args.get('tipo_documento') == 'planificaciones' %}selected{% endif %}>Planificaciones</option>
                        <option value="evolucion" {% if request.args.get('tipo_documento') == 'evolucion' %}selected{% endif %}>Evolución</option>
                        <option value="cronicas" {% if request.args.get('tipo_documento') == 'cronicas' %}selected{% endif %}>Crónicas</option>
                        <option value="documental" {% if request.args.get('tipo_documento') == 'documental' %}selected{% endif %}>Documental</option>
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Buscar</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <a href="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni, sort_by='nombre_documento', order='asc' if request.args.get('order') == 'desc' else 'desc', 
                                nombre_documento=request.args.get('nombre_documento', '')) }}">
                                Nombre
                                {% if request.args.get('sort_by') == 'nombre_documento' %}
                                    {% if request.args.get('order') == 'asc' %}▲{% else %}▼{% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Tipo</th>
                        <th>
                            <a href="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni, sort_by='created_at', order='asc' if request.args.get('order') == 'desc' else 'desc', 
                                nombre_documento=request.args.get('nombre_documento', '')) }}">
                                Fecha
                                {% if request.args.get('sort_by') == 'created_at' %}
                                    {% if request.args.get('order') == 'asc' %}▲{% else %}▼{% endif %}
                                {% endif %}
                            </a>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                    <tr>
                        <td>{{ documento.nombre_documento }}</td>
                        <td>{{ documento.tipo_documento }}</td>
                        <td>{{ documento.created_at.strftime('%d/%m/%Y') }}</td>
                        <td>
                            {% if documento.nombre_documento.startswith('http://') or documento.nombre_documento.startswith('https://') %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Menú
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ documento.nombre_documento }}" class="dropdown-item">Ver Enlace</a></li>
                                        {% if check_permission(session, "jya_update") %}
                                        <li><a href="{{ url_for('enlaces.show_update_link_jya', jya_dni=jya.dni, documento_id=documento.id) }}" class="dropdown-item">Actualizar</a></li>
                                        {% endif %}
                                        <li><a href="{{ url_for('enlaces.show_delete_link_jya', jya_dni=jya.dni, documento_id=documento.id) }}" class="dropdown-item">Eliminar</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Menú
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('documentos.download_documento', documento_id=documento.id) }}" class="dropdown-item">Descargar</a></li>
                                        {% if check_permission(session, "jya_update") %}
                                        <li><a href="{{ url_for('documentos.show_update_document_jya', jya_dni=jya.dni, documento_id=documento.id) }}" class="dropdown-item">Actualizar</a></li>
                                        {% endif %}
                                        {% if check_permission(session, "jya_destroy") %}
                                        <li><a href="{{ url_for('documentos.show_delete_document_jya', jya_dni=jya.dni, documento_id=documento.id) }}" class="dropdown-item">Eliminar</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center flex-wrap">
                {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni, page=pagination.prev_num, 
                        nombre_documento=request.args.get('nombre_documento', ''), 
                        tipo_documento=request.args.get('tipo_documento', ''), 
                        sort_by=request.args.get('sort_by', ''), 
                        order=request.args.get('order', '') ) }}" aria-label="Previous">
                        Anterior
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item disabled"><span class="page-link">Página {{ pagination.page }} de {{ pagination.pages }}</span></li>
                {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni, page=pagination.next_num, 
                        nombre_documento=request.args.get('nombre_documento', ''), 
                        tipo_documento=request.args.get('tipo_documento', ''), 
                        sort_by=request.args.get('sort_by', ''), 
                        order=request.args.get('order', '') ) }}" aria-label="Next">
                        Siguiente
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% if check_permission(session, "jya_new") %}
        <div class="d-flex flex-wrap gap-3 mt-4">
            <a href="{{ url_for('documentos.show_upload_document', jya_dni=jya.dni) }}" class="btn btn-secondary">Subir documento</a>
            <a href="{{ url_for('enlaces.show_upload_link', jya_dni=jya.dni) }}" class="btn btn-secondary">Subir enlace</a>
        </div>
        {% endif %}
    </article>
</section>

{% endblock %}
