{% extends "layout.html" %}

{% block title %}Detalles del JYA{% endblock %}

{% block content %}
<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Detalles del JYA</h4>
    <a class="btn btn-secondary" href="{{ url_for('crud_JyA.index') }}">Volver</a>
</header>

<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.nombre }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Nombre</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.apellido }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Apellido</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.dni }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">DNI</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.edad }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Edad</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.fecha_nacimiento }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Fecha de Nacimiento</label>
</div>

<h5 class="mt-4">Lugar de Nacimiento</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.lugar_nacimiento.localidad }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Localidad</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.lugar_nacimiento.provincia }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Provincia</label>
</div>

<h5 class="mt-4">Domicilio Actual</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.domicilio_actual.calle }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Calle</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.domicilio_actual.numero }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Número</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.domicilio_actual.localidad }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Localidad</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.domicilio_actual.provincia }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Provincia</label>
</div>

<h5 class="mt-4">Contacto de Emergencia</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.contacto_emergencia.nombre }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Nombre</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.contacto_emergencia.telefono }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Teléfono</label>
</div>

<h5 class="mt-4">Estado de Beca</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ 'Sí' if jya.becado else 'No' }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Becado</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.porcentaje_beca }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Porcentaje de Beca</label>
</div>

<h5 class="mt-4">Discapacidad</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ 'Sí' if jya.certificado_discapacidad else 'No' }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Certificado de Discapacidad</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.diagnostico_discapacidad }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Diagnóstico</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.tipo_discapacidad }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Tipo de Discapacidad</label>
</div>

<h5 class="mt-4">Actividad</h5>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.propuesta_trabajo }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Propuesta de Trabajo</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.condicion_trabajo }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Condición de Trabajo</label>
</div>
<div class="form-floating mb-3">
    <input class="form-control" type="text" value="{{ jya.sede }}" aria-label="Disabled input example" disabled readonly>
    <label for="floatingInputDisabled">Sede</label>
</div>

<div class="mt-4">
    <a href="{{ url_for('crud_JyA.show_update_jya', jya_dni=jya.dni) }}" class="btn btn-primary">Editar</a>
    <a href="{{ url_for('documentos.index_documents_jya', jya_dni=jya.dni) }}" class="btn btn-primary">Documentos Adjuntos</a>
</div>

{% endblock %}
