{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Actualizar J&A{% endblock %}</title>
</head>
<body>
    {% block content %}
    <header>
        <h1>Actualizar JYA</h1>
    </header>

    <section>
        <article>
            <form method="post" action="{{ url_for('crud_JyA.jya_update', jya_dni=jya.dni) }}">
                <!-- Datos personales -->
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required value="{{ jya.nombre }}">
                </div>
                
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required value="{{ jya.apellido }}">
                </div>

                <div class="form-group">
                    <label for="edad">Edad:</label>
                    <input type="number" class="form-control" id="edad" name="edad" required value="{{ jya.edad }}">
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_de_nacimiento" required value="{{ jya.fecha_nacimiento }}">
                </div>

                <!-- Lugar de nacimiento -->
                <div class="form-group">
                    <label for="lugar_nacimiento_localidad">Lugar de Nacimiento - Localidad:</label>
                    <input type="text" class="form-control" id="lugar_nacimiento_localidad" name="lugar_nacimiento_localidad" required value="{{ jya.lugar_nacimiento['localidad'] }}">
                </div>
                <div class="form-group">
                    <label for="lugar_nacimiento_provincia">Lugar de Nacimiento - Provincia:</label>
                    <input type="text" class="form-control" id="lugar_nacimiento_provincia" name="lugar_nacimiento_provincia" required value="{{ jya.lugar_nacimiento['provincia'] }}">
                </div>

                <!-- Domicilio actual -->
                <div class="form-group">
                    <label for="domicilio_actual_calle">Domicilio Actual - Calle:</label>
                    <input type="text" class="form-control" id="domicilio_actual_calle" name="domicilio_actual_calle" required value="{{ jya.domicilio_actual['calle'] }}">
                </div>
                <div class="form-group">
                    <label for="domicilio_actual_numero">Domicilio Actual - Número:</label>
                    <input type="text" class="form-control" id="domicilio_actual_numero" name="domicilio_actual_numero" required value="{{ jya.domicilio_actual['numero'] }}">
                </div>
                <div class="form-group">
                    <label for="domicilio_actual_departamento">Domicilio Actual - Departamento (opcional):</label>
                    <input type="text" class="form-control" id="domicilio_actual_departamento" name="domicilio_actual_departamento" value="{{ jya.domicilio_actual['departamento'] }}">
                </div>
                <div class="form-group">
                    <label for="domicilio_actual_localidad">Domicilio Actual - Localidad:</label>
                    <input type="text" class="form-control" id="domicilio_actual_localidad" name="domicilio_actual_localidad" required value="{{ jya.domicilio_actual['localidad'] }}">
                </div>
                <div class="form-group">
                    <label for="domicilio_actual_provincia">Domicilio Actual - Provincia:</label>
                    <input type="text" class="form-control" id="domicilio_actual_provincia" name="domicilio_actual_provincia" required value="{{ jya.domicilio_actual['provincia'] }}">
                </div>

                <!-- Teléfono actual -->
                <div class="form-group">
                    <label for="telefono_actual">Teléfono Actual:</label>
                    <input type="text" class="form-control" id="telefono_actual" name="telefono_actual" required value="{{ jya.telefono_actual }}">
                </div>

                <!-- Contacto de emergencia -->
                <div class="form-group">
                    <label for="contacto_emergencia_nombre">Contacto de Emergencia - Nombre:</label>
                    <input type="text" class="form-control" id="contacto_emergencia_nombre" name="contacto_emergencia_nombre" required value="{{ jya.contacto_emergencia['nombre'] }}">
                </div>
                <div class="form-group">
                    <label for="contacto_emergencia_telefono">Contacto de Emergencia - Teléfono:</label>
                    <input type="text" class="form-control" id="contacto_emergencia_telefono" name="contacto_emergencia_telefono" required value="{{ jya.contacto_emergencia['telefono'] }}">
                </div>

                <!-- Becado y porcentaje de beca -->
                <div class="form-group">
                    <label for="becado">Becado:</label>
                    <select class="form-control" id="becado" name="becado" required>
                        <option value="true" {% if jya.becado %}selected{% endif %}>Sí</option>
                        <option value="false" {% if not jya.becado %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="porcentaje_beca">Porcentaje de Beca:</label>
                    <input type="number" step="0.01" class="form-control" id="porcentaje_beca" name="porcentaje_beca" value="{{ jya.porcentaje_beca }}">
                </div>

                <!-- Profesionales que lo atienden -->
                <div class="form-group">
                    <label for="profesionales_atendiendo">Profesionales que lo atienden:</label>
                    <textarea class="form-control" id="profesionales_atendiendo" name="profesionales_atendiendo">{{ jya.profesionales_atendiendo }}</textarea>
                </div>

                <!-- Discapacidad -->
                <div class="form-group">
                    <label for="certificado_discapacidad">Certificado de Discapacidad:</label>
                    <select class="form-control" id="certificado_discapacidad" name="certificado_discapacidad">
                        <option value="true" {% if jya.certificado_discapacidad %}selected{% endif %}>Sí</option>
                        <option value="false" {% if not jya.certificado_discapacidad %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="diagnostico_discapacidad">Diagnóstico de Discapacidad:</label>
                    <input type="text" class="form-control" id="diagnostico_discapacidad" name="diagnostico_discapacidad" value="{{ jya.diagnostico_discapacidad }}">
                </div>

                <div class="form-group">
                    <label>Tipo de Discapacidad:</label>
                    <select class="form-control" id="tipo_discapacidad" name="tipo_discapacidad">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Mental" {% if jya.tipo_discapacidad == "Sensorial" %} selected {% endif %}>Mental</option>
                        <option value="Motora" {% if jya.tipo_discapacidad == "Sensorial" %} selected {% endif %}>Motora</option>
                        <option value="Sensorial"{% if jya.tipo_discapacidad == "Sensorial" %} selected {% endif %}>Sensorial</option>
                        <option value="Visceral" {% if jya.tipo_discapacidad == "Sensorial" %} selected {% endif %}>Visceral</option>
                    </select>
                </div>
                
                <!-- Asignaciones familiares -->
                <div class="form-group">
                    <label for="asignacion_familiar">Asignación Familiar:</label>
                    <select class="form-control" id="asignacion_familiar" name="asignacion_familiar" required>
                        <option value="true" {% if jya.asignacion_familiar %}selected{% endif %}>Sí</option>
                        <option value="false" {% if not jya.asignacion_familiar %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="tipo_asignacion">Tipo de Asignación:</label>
                    <select class="form-control" id="tipo_asignacion" name="tipo_asignacion" value="jya.tipo_asignacion">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Asignación Universal por hijo">Asignación Universal por hijo</option>
                        <option value="Asignación Universal por hijo con Discapacidad">Asignación Universal por hijo con Discapacidad</option>
                        <option value="Asignación por ayuda escolar anual">Asignación por ayuda escolar anual</option>
                    </select>
                </div>

                <!-- Pensión -->
                <div class="form-group">
                    <label>¿Es beneficiario de alguna pensión?</label>
                    <select class="form-control" id="pension" name="pension">
                        <option value="false" {% if jya.pension %} selected {% endif %}>No</option>
                        <option value="true">Sí</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="tipo_pension">Tipo de Pensión (si corresponde):</label>
                    <input type="text" class="form-control" id="tipo_pension" name="tipo_pension" placeholder="Indique si es Provincial o Nacional">
                </div>

                <!-- Situación previsional -->
                <div class="form-group">
                    <label for="obra_social">Obra Social:</label>
                    <input type="text" class="form-control" id="obra_social" name="obra_social" {% if jya.obra_social%} value="{{jya.obra_social}}{% endif %}">
                </div>

                <div class="form-group">
                    <label for="numero_afiliado">Número de Afiliado:</label>
                    <input type="text" class="form-control" id="numero_afiliado" name="numero_afiliado" {% if jya.numero_afiliado %} value="{{jya.numero_afilidado}}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="curatela">¿Posee curatela?</label>
                    <select class="form-control" id="curatela" name="curatela">
                        <option value="false" {% if jya.curatela %} selected {% endif %}>No</option>
                        <option value="true">Sí</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="observaciones_previsionales">Observaciones Previsionales:</label>
                    <textarea class="form-control" id="observaciones_previsionales" name="observaciones_previsionales" rows="3" {% if jya.observaciones_previsionales %} value="{{ jya.observaciones_previsionales }}"{% endif %}></textarea>
                </div>

                <!-- Institución escolar -->
                <div class="form-group">
                    <label for="institucion_escolar_nombre">Nombre de la Institución Escolar:</label>
                    <input type="text" class="form-control" id="institucion_escolar_nombre" name="institucion_escolar_nombre" {% if jya.institucion_escolar["nombre"] %} value="{{ jya.institucion_escolar["nombre"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="institucion_escolar_direccion">Dirección:</label>
                    <input type="text" class="form-control" id="institucion_escolar_direccion" name="institucion_escolar_direccion" {% if jya.institucion_escolar["direccion"] %} value="{{ jya.institucion_escolar["direccion"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="institucion_escolar_telefono">Teléfono:</label>
                    <input type="text" class="form-control" id="institucion_escolar_telefono" name="institucion_escolar_telefono" {% if jya.institucion_escolar["telefono"] %} value="{{ jya.institucion_escolar["telefono"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="grado_actual">Grado/Año Actual:</label>
                    <input type="text" class="form-control" id="grado_actual" name="grado_actual" {% if jya.institucion_escolar["grado_actual"] %} value="{{ jya.institucion_escolar["grado_actual"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="institucion_escolar_observaciones">Observaciones:</label>
                    <textarea class="form-control" id="institucion_escolar_observaciones" name="institucion_escolar_observaciones" rows="3" {% if jya.institucion_escolar["observaciones"] %} value="{{ jya.institucion_escolar["observaciones"] }}"{% endif %}></textarea>
                </div>

                <!-- Profesionales que lo atienden -->
                <div class="form-group">
                    <label for="profesionales_atendiendo">Profesionales que lo atienden:</label>
                    <textarea class="form-control" id="profesionales_atendiendo" name="profesionales_atendiendo" rows="3"></textarea>
                </div>

                <!-- Familiares o tutores responsables -->
                <h3>Datos del Familiar o Tutor Responsable</h3>
                <div class="form-group">
                    <label for="familiar1_parentesco">Parentesco:</label>
                    <input type="text" class="form-control" id="familiar1_parentesco" name="familiar1_parentesco" {% if jya.familiares_tutores[0]["parentesco"] %} value="{{ jya.familiares_tutores[0]["parentesco"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_nombre">Nombre:</label>
                    <input type="text" class="form-control" id="familiar1_nombre" name="familiar1_nombre" {% if jya.familiares_tutores[0]["nombre"] %} value="{{ jya.familiares_tutores[0]["nombre"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_apellido">Apellido:</label>
                    <input type="text" class="form-control" id="familiar1_apellido" name="familiar1_apellido" {% if jya.familiares_tutores[0]["apellido"] %} value="{{ jya.familiares_tutores[0]["apellido"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_dni">DNI:</label>
                    <input type="text" class="form-control" id="familiar1_dni" name="familiar1_dni" {% if jya.familiares_tutores[0]["dni"] %} value="{{ jya.familiares_tutores[0]["dni"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_domicilio_actual">Domicilio Actual:</label>
                    <input type="text" class="form-control" id="familiar1_domicilio_actual" name="familiar1_domicilio_actual" {% if jya.familiares_tutores[0]["domicilio_actual"] %} value="{{ jya.familiares_tutores[0]["domicilio_actual"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_celular_actual">Celular Actual:</label>
                    <input type="text" class="form-control" id="familiar1_celular_actual" name="familiar1_celular_actual" {% if jya.familiares_tutores[0]["celular_actual"] %} value="{{ jya.familiares_tutores[0]["celular_actual"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_email">Email:</label>
                    <input type="email" class="form-control" id="familiar1_email" name="familiar1_email" {% if jya.familiares_tutores[0]["email"] %} value="{{ jya.familiares_tutores[0]["email"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar1_nivel_escolaridad">Nivel de Escolaridad:</label>
                    <select class="form-control" id="familiar1_nivel_escolaridad" name="familiar1_nivel_escolaridad" {% if jya.familiares_tutores[0]["nivel_escolaridad"] %} value="{{ jya.familiares_tutores[0]["nivel_escolaridad"] }}"{% endif %}>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Primario" {% if jya.familiares_tutores[1]["nivel_escolaridad"] == "Primario"%} selected {% endif %}>Primario</option>
                        <option value="Secundario" {% if jya.familiares_tutores[1]["nivel_escolaridad"] == "Secundario"%} selected {% endif %}>Secundario</option>
                        <option value="Terciario" {% if jya.familiares_tutores[1]["nivel_escolaridad"] == "Terciario"%} selected {% endif %}>Terciario</option>
                        <option value="Universitario" {% if jya.familiares_tutores[1]["nivel_escolaridad"] == "Universitario"%} selected {% endif %}>Universitario</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="familiar1_ocupacion">Ocupación:</label>
                    <input type="text" class="form-control" id="familiar1_ocupacion" name="familiar1_ocupacion" {% if jya.familiares_tutores[0]["ocupacion"] %} value="{{ jya.familiares_tutores[0]["ocupacion"] }}"{% endif %}>
                </div>

                <!-- Segundo familiar/tutor (opcional) -->
                <h3>Datos de otro Familiar o Tutor (opcional)</h3>
                <div class="form-group">
                    <label for="familiar2_parentesco">Parentesco:</label>
                    <input type="text" class="form-control" id="familiar2_parentesco" name="familiar2_parentesco" {% if jya.familiares_tutores[1]["parentesco"] %} value="{{ jya.familiares_tutores[1]["parentesco"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_nombre">Nombre:</label>
                    <input type="text" class="form-control" id="familiar2_nombre" name="familiar2_nombre" {% if jya.familiares_tutores[1]["nombre"] %} value="{{ jya.familiares_tutores[1]["nombre"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_apellido">Apellido:</label>
                    <input type="text" class="form-control" id="familiar2_apellido" name="familiar2_apellido" {% if jya.familiares_tutores[1]["apellido"] %} value="{{ jya.familiares_tutores[1]["apellido"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_dni">DNI:</label>
                    <input type="text" class="form-control" id="familiar2_dni" name="familiar2_dni" {% if jya.familiares_tutores[1]["dni"] %} value="{{ jya.familiares_tutores[1]["dni"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_domicilio_actual">Domicilio Actual:</label>
                    <input type="text" class="form-control" id="familiar2_domicilio_actual" name="familiar2_domicilio_actual" {% if jya.familiares_tutores[1]["domicilio_actual"] %} value="{{ jya.familiares_tutores[1]["domicilio_actual"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_celular_actual">Celular Actual:</label>
                    <input type="text" class="form-control" id="familiar2_celular_actual" name="familiar2_celular_actual" {% if jya.familiares_tutores[1]["celular_actual"] %} value="{{ jya.familiares_tutores[1]["celular_actual"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_email">Email:</label>
                    <input type="email" class="form-control" id="familiar2_email" name="familiar2_email" {% if jya.familiares_tutores[1]["email"] %} value="{{ jya.familiares_tutores[1]["email"] }}"{% endif %}>
                </div>

                <div class="form-group">
                    <label for="familiar2_nivel_escolaridad">Nivel de Escolaridad:</label>
                    <select class="form-control" id="familiar2_nivel_escolaridad" name="familiar2_nivel_escolaridad">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Primario" {% if jya.familiares_tutores[0]["nivel_escolaridad"] == "Primario"%} selected {% endif %}>Primario</option>
                        <option value="Secundario" {% if jya.familiares_tutores[0]["nivel_escolaridad"] == "Secundario"%} selected {% endif %}>Secundario</option>
                        <option value="Terciario" {% if jya.familiares_tutores[0]["nivel_escolaridad"] == "Terciario"%} selected {% endif %}>Terciario</option>
                        <option value="Universitario" {% if jya.familiares_tutores[0]["nivel_escolaridad"] == "Universitario"%} selected {% endif %}>Universitario</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="familiar2_ocupacion">Ocupación:</label>
                    <input type="text" class="form-control" id="familiar2_ocupacion" name="familiar2_ocupacion" {% if jya.familiares_tutores[1]["ocupacion"] %} value="{{ jya.familiares_tutores[1]["ocupacion"] }}"{% endif %}>
                </div>
                
                <div class="form-group">
                    <label for="propuesta_trabajo">Propuesta de trabajo institucional:</label>
                    <select class="form-control" id="propuesta_trabajo" name="propuesta_trabajo">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="Hipoterapia" {% if jya.propuesta_trabajo == "Hipoterapia"%} selected {% endif %}>Hipoterapia</option>
                        <option value="Monta Terápeutica" {% if jya.propuesta_trabajo == "Monta Terápeutica"%} selected {% endif %}>Monta Terápeutica</option>
                        <option value="Deporte" {% if jya.propuesta_trabajo == "Deporte"%} selected {% endif %}>Deporte</option>
                        <option value="Encuetre adaptado" {% if jya.propuesta_trabajo == "Encuestre Adaptado"%} selected {% endif %}>Encuetre adaptado</option>
                        <option value="Actividades Recreativas" {% if jya.propuesta_trabajo == "Actividades Recreativas"%} selected {% endif %}>Actividades Recreativas</option>
                        <option value="Equitación" {% if jya.propuesta_trabajo == "Equitacion"%} selected {% endif %}>Equitación</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Condicion:</label>
                    <select class="form-control" id="condicion_trabajo" name="condicion_trabajo">
                        <option value="" disabled selected>Seleccione un tipo</option>
                        <option value="REGULAR" {% if jya.condicion_trabajo == "REGULAR" %} selected {% endif %}>REGULAR</option>
                        <option value="DE BAJA" {% if jya.condicion_trabajo == "DE BAJA" %} selected {% endif %}>DE BAJA</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="sede">Sede:</label>
                    <select class="form-control" id="sede" name="sede">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="CASJ" {% if jya.sede == "CASJ" %} selected {% endif %}>CASJ</option>
                        <option value="HLP" {% if jya.sede == "HLP" %} selected {% endif %}>HLP</option>
                        <option value="OTRO" {% if jya.sede == "OTRO" %} selected {% endif %}>OTRO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dias_asistencia">Días de Asistencia:</label><br>
                        <input type="checkbox" name="dias_asistencia[]" value="Lunes"> Lunes<br>
                        <input type="checkbox" name="dias_asistencia[]" value="Martes"> Martes<br>
                        <input type="checkbox" name="dias_asistencia[]" value="Miércoles"> Miércoles<br>
                        <input type="checkbox" name="dias_asistencia[]" value="Jueves"> Jueves<br>
                        <input type="checkbox" name="dias_asistencia[]" value="Viernes"> Viernes<br>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar usuario</button>
            </form>
        </article>
    </section>

    {% endblock %}

    <footer>
        <p>© 2024 Mi Aplicación - Administración de Usuarios</p>
    </footer>

</body>
</html>
