{% extends "layout.html" %}

{% block title %}Actualizar Publicación{% endblock %}

{% block content %}
<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Actualizar publicación</h4>
    <a class="btn btn-secondary" href="{{ url_for('publicacion.index') }}">Volver</a>
</header>
<body>
<section>
    <article>
        <form method="post" action="{{ url_for('publicacion.actualizar_publicacion', id=publicacion.id) }}">
            
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <input type="text" class="form-control" id="titulo" name="titulo" required maxlength="100" value="{{ publicacion.titulo }}">
            </div>

            <div class="mb-3">
                <label for="copete" class="form-label">Copete</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <textarea class="form-control" id="copete" name="copete" rows="3" required>{{ publicacion.copete }}</textarea>
            </div>

            <div class="mb-3">
                <label for="contenido" class="form-label">Contenido</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                {{ ckeditor.create(value=publicacion.contenido) }}
            </div>

            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <select class="form-control" id="estado" name="estado" required>
                    <option value="Borrador" {% if publicacion.estado == "Borrador" %}selected{% endif %}>Borrador</option>
                    <option value="Publicado" {% if publicacion.estado == "Publicado" %}selected{% endif %}>Publicado</option>
                    <option value="Archivado" {% if publicacion.estado == "Archivado" %}selected{% endif %}>Archivado</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="autor_id">Autor:</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <select class="form-control" id="autor_id" name="autor_id" required>
                    <option value="{{ publicacion.autor_id }}" selected>{{ publicacion.autor.nombre }} {{ publicacion.autor.apellido }}</option>
                    {% for empleado in empleados %}
                        {% if empleado.id != publicacion.autor_id%}
                            <option value="{{ empleado.id }}" {% if empleado.id == publicacion.autor_id.id %}selected{% endif %}>{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Actualizar Publicación</button>
        </form>
    </article>
</section>
</body>
{{ ckeditor.load() }}
{{ ckeditor.config() }}
{% endblock %}
