{% extends "layout.html" %}

{% block title %}Crear Publicación{% endblock %}

{% block content %}
<header class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h4 class="display-4">Crear Nueva Publicación</h4>
    <a class="btn btn-secondary" href="{{ url_for('publicacion.index') }}">Volver</a>
</header>
<body>
<section>
    <article>
        <form method="post" action="{{ url_for('publicacion.crear_publicacion') }}">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <input type="text" class="form-control" id="titulo" name="titulo" required maxlength="25">
            </div>

            <div class="mb-3">
                <label for="copete" class="form-label">Copete</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <textarea class="form-control" id="copete" name="copete" rows="3" required maxlength="255"></textarea>
            </div>

            <div class="mb-3">
                <label for="ckeditor" class="form-label">Contenido</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                {{ ckeditor.create() }}
            </div>

            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <select class="form-control" id="estado" name="estado" required>
                    <option value="Borrador">Borrador</option>
                    <option value="Publicado">Publicado</option>
                    <option value="Archivado">Archivado</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="autor_id">Autor:</label>
                <i class="fas fa-asterisk text-danger" title="Campo obligatorio"></i>
                <select class="form-control" id="autor_id" name="autor_id" required>
                    <option value="" disabled selected>Seleccione un autor</option>
                    {% for empleado in empleados %}
                        <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Crear Publicación</button>
        </form>
    </article>
</section>
{{ ckeditor.load() }}
{{ ckeditor.config() }}
</body>
{% endblock %}
