{% extends "layout.html" %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Editar Usuario{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% block content %}
    
    <main class="container mt-4">
        <header class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="display-4">Editar Usuario: <strong>{{ user.alias }}</strong></h4>
            <a class="btn btn-secondary" href="{{ url_for('users.index') }}">Volver</a>
        </header>

        <section>
            <form action="{{ url_for('users.user_update', user_id=user.id) }}" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required value="{{ user.email }}">
                </div>
                
                <div class="mb-3">
                    <label for="alias" class="form-label">Alias</label>
                    <input type="text" class="form-control" id="alias" name="alias" required value="{{ user.alias }}">
                </div>

                <div class="mb-3">
                    <label for="role_id" class="form-label">Rol</label>
                    <select id="role_id" name="role_id" class="form-select" required>
                        <option value="1" {% if user.role_id == 1 %} selected {% endif %}>Técnica</option>
                        <option value="2" {% if user.role_id == 2 %} selected {% endif %}>Ecuestre</option>
                        <option value="3" {% if user.role_id == 3 %} selected {% endif %}>Voluntariado</option>
                        <option value="4" {% if user.role_id == 4 %} selected {% endif %}>Administración</option>
                        <option value="5" {% if user.role_id == 5 %} selected {% endif %}>Editor</option>
                        <option value="6" {% if user.role_id == 6 %} selected {% endif %}>System Admin</option>
                    </select>
                </div>

                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
                </div>
            </form>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
</html>
