{% extends "layout.html" %}

{% block title %}Crear Empleado{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Crear Empleado</h1>
    <form action="{{ url_for('empleados.crear_empleado_listo') }}" id="empleados_form" class="form_style" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <i  title="Campo obligatorio"></i>
            <input type="number" class="form-control" id="dni" name="dni" min="1000000" required>
            <small >
                El campo es obligatorio y debe contener un número de 7 o 8 dígitos.
            </small>
        </div>
        <div class="form-group">
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="profesion">Profesión:</label>
            <select id="profesion" name="profesion" class="form-control" required>
                <option value="" disabled selected>Seleccione una profesión</option>
                <option value="Psicólogo/a">Psicólogo/a</option>
                <option value="Psicomotricista">Psicomotricista</option>
                <option value="Médico/a">Médico/a</option>
                <option value="Kinesiólogo/a">Kinesiólogo/a</option>
                <option value="Terapista Ocupacional">Terapista Ocupacional</option>
                <option value="Psicopedagogo/a">Psicopedagogo/a</option>
                <option value="Docente">Docente</option>
                <option value="Profesor">Profesor</option>
                <option value="Fonoaudiólogo/a">Fonoaudiólogo/a</option>
                <option value="Veterinario/a">Veterinario/a</option>
                <option value="Otro">Otro</option>
            
            </select>
        </div>

        <div class="form-group">
            <label for="puesto">Puesto Laboral:</label>
            <select id="puesto" name="puesto" class="form-control" required>
                <option value="Administrativo/a">Administrativo/a</option>
                <option value="Terapeuta">Terapeuta</option>
                <option value="Conductor">Conductor</option>
                <option value="Auxiliar de pista">Auxiliar de pista</option>
                <option value="Herrero">Herrero</option>
                <option value="Veterinario">Veterinario</option>
                <option value="Entrenador de Caballos">Entrenador de Caballos</option>
                <option value="Domador">Domador</option>
                <option value="Profesor">Profesor de Equitación</option>
                <option value="Docente de Capacitación">Docente de Capacitación</option>
                <option value="Auxiliar de mantenimiento">Auxiliar de mantenimiento</option>
                <option value="Otro">Otro</option>
            
            </select>
        </div>
        <div class="form-group">
            <label for="fecha_inicio">fecha de inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="fecha_cese">fecha de cese:</label>
            <input type="date" id="fecha_cese" name="fecha_cese" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="contacto_emergencia">Contacto de Emergencia (Nombre y Teléfono):</label>
            <input type="text" id="contacto_emergencia" name="contacto_emergencia" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="obra_social">Obra Social:</label>
            <input type="text" id="obra_social" name="obra_social" class="form-control" requerid>
        </div>
        <div class="form-group">
            <label for="numero_afiliado">N° de Afiliado:</label>
            <input type="text" id="numero_afiliado" name="numero_afiliado" class="form-control" required>
        </div>
        <div class="form-group"></div>
            <label for="condicion">Condición:</label>
            <select id="condicion" name="condicion" class="form-control" required>
                <option value="Voluntario">Voluntario</option>
                <option value="Personal Rentado">Personal Rentado</option>
            </select>
        </div>
        
        <div class="form-group"></div>
            <label for="activo">Activo:</label>
            <select id="activo" name="activo" class="form-control" required>
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Crear empleado</button>
    </form>
    <a href="{{ url_for('empleados.index') }}" class="btn btn-secondary">Volver al listado</a>
</div>
{% endblock %}
