<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>
<body>
    <!-- Header -->
    <header>
        <img id='logo' alt="logo" src="{{ url_for('static', filename='assets/logo.png') }}">
        <a class="btn" href="{{ url_for('users.show_home') }}">Volver al Inicio</a>
    </header>
    <h2>Lista de empleados</h2>

    <h1>Listado de Empleados</h1>
    <a href="{{ url_for('empleados.crear_empleado') }}">Crear Nuevo Empleado</a>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.email }}</td>
            <td>
                <a href="/empleados/actualizar/{{ empleado.id }}">Actualizar</a> | 
                <a href="/empleados/eliminar/{{ empleado.id }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
