{% extends "layout.html" %}

<head>
    {% block title %}MenuEmpleado{% endblock %}
    {% block imports %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invoices/invoices_menu.css') }}">
    {% endblock %}
</head>

{% block content %}
<header>
    <a class="btn" href="{{ url_for('users.show_home') }}">Volver al Inicio</a>
</header>
<h1>Menu Empleados</h1>
<nav class="MENU_options">
    <a class="button" href="{{url_for('invoices.invoices_index')}}">LISTAR</a>
    <a class="button" href="{{url_for('invoices.invoice_create')}}">CREAR EMPLEADO</a>
</nav>
{% endblock %}