{% extends "layout.html" %}
{% block content %}
<head class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-4 mb-3">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h4 class="display-6 text-center text-md-start">Actualizar Empleado</h4>
    <a class="btn btn-secondary mt-3 mt-md-0" href="{{ url_for('empleados.index') }}">Volver</a>
</head>
<body>
    <form action="{{ url_for('empleados.update_employee', empleado_dni=empleado.dni, empleado_id=empleado.id) }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ empleado.nombre }}" class="form-control" required><br>
        </div>
        
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ empleado.apellido }}" class="form-control" required><br>
        </div>
        
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="number" id="dni" name="dni" value="{{ empleado.dni }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" value="{{ empleado.domicilio }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ empleado.email }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="localidad">Localidad:</label>
            <input type="text" id="localidad" name="localidad" value="{{ empleado.localidad }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" value="{{ empleado.telefono }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="profesion">Profesión:</label>
            <input type="text" id="profesion" name="profesion" value="{{ empleado.profesion }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="puesto">Puesto:</label>
            <input type="text" id="puesto" name="puesto" value="{{ empleado.puesto }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ empleado.fecha_inicio }}" class="form-control">
        </div >
        <div class="form-group">
            <label for="fecha_cese">Fecha de Cese:</label>
            <input type="date" id="fecha_cese" name="fecha_cese" value="{{ empleado.fecha_cese }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="contacto_emergencia">Contacto de Emergencia:</label>
            <input type="text" id="contacto_emergencia" name="contacto_emergencia" value="{{ empleado.contacto_emergencia }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="obra_social">Obra Social:</label>
            <input type="text" id="obra_social" name="obra_social" value="{{ empleado.obra_social }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="numero_afiliado">Número de Afiliado:</label>
            <input type="text" id="numero_afiliado" name="numero_afiliado" value="{{ empleado.numero_afiliado }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="condicion">Condición:</label>
            <input type="text" id="condicion" name="condicion" value="{{ empleado.condicion }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <select id="activo" name="activo" required>
                <option value="true" {% if empleado.activo %}selected{% endif %}>Sí</option>
                <option value="false" {% if not empleado.activo %}selected{% endif %}>No</option>
            </select>
        </div>
        
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
{% endblock %}